@import "servicios/esquemas/styles"
@import "servicios/capacitacion/styles"
@import "clientes/styles"
@import "contacto/info/styles"

.Main 
	padding 1em 2em
.Article
	margin 1.5em 0
	&-titulo 
		&_h2 
			color gris_B
			font-size 2rem
			margin 0
	&-contacto 
		margin 0
		text-align center
	&-desc
		color gris_C 
		margin .5em 0
	&-list
		&_item
			color gris_C
			font-style italic
			margin .5em 0
.Mapa-frame 
	width 100vw
	height 50vh
.Presentacion
	padding .5em
	&-p 
		text-align center
		&_link
			background-color rojo_A
			border-bottom 2px solid rojo_B
			border-radius 2px
			box-shadow 0px 0px 5px gray
			color white
			padding 1em
	










		
			