doctype html
html(lang="es", ng-app="tecsite")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title Tecsia : Inocuidad Alimentaria - Food Safety
    meta(name="description", content="Asesorías de certificación en esquemas de inocuidad alimentaria, Monitoreo y Vigilancia, Construcción de Laboratorios, Manejo de Residuos, RECALLS")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="./public/css/app.css")
body
    //- HEADER
    include ./header/template.jade
    //- ASIDE
    include ./aside/template.jade
    //- CONTAINER
    ng-view
    //- FOOTER
    include ./footer/template.jade
    script(src="public/js/main.js")
