@import "nib"
@import 'normalize'
@import 'iconfonts'

vendor-prefixes = webkit o ms moz official

amarillo_A = #f1da00
azul_A = #71c7db
azul_fb = #3b5998
azul_tw = #00aced
gris_A = #e6e6e6
gris_B = #7d7d7d
gris_C = #656565
naranja_A = #f49839
rojo_A = #e74c3c
rojo_B = #c0392b
rosa_A = #e73969
verde_A = #acc90e
	
html  
	font-family Helvetica,sans-serif
	font-size 80%	
body
	background-color gris_A
a 
	text-decoration none
	color verde_A
	&:hover 
		opacity 0.6
		border-bottom 1px solid gris_C

.header 
	display flex
	flex-wrap wrap
	align-items center
	justify-content space-between
	
.top
	align-items strecth
	display flex
	padding 0.5em
	width 100%
	&__logoTecsia
		font-size 5em
	&__h1 
		color gris_B
		margin 0
		font-size 4em
		font-weight normal
	&__h1::after 
		color verde_A
		content "sia"
.nav
	width 100%	
	&__menu
		align-items center
		display flex
		justify-content space-around
		margin 0
		padding 0
		&__items 
			list-style none
			&:hover
				.nav__menu__items--atxt
					display block
				.nav__menu__items--aicon
					display none
			&--aicon
				font-size 4em 
				cursor pointer
			&--atxt 
				border-radius 50%
				color white
				display none
				font-size .9rem
				opacity .7
				padding 2em .5em
			&--atxt[data-items="azul_A"]
				background-color azul_A
			&--atxt[data-items="rosa_A"]
				background-color rosa_A
			&--atxt[data-items="amarillo_A"]
				background-color amarillo_A
			&--atxt[data-items="naranja_A"]
				background-color naranja_A
.main 
	padding 1em 2em
	&__article 
		margin 1.5em 0
		&__header--h2
			color gris_B
			font-size 2rem
			margin 0
		&__p 
			margin .5em 0
			color gris_C
			&__list
				&--items
					color gris_C
					font-style italic
					margin .5em 0
.esquemas
	&__menu
		margin 0
		padding 0
		&--items 
			align-items center
			border-radius 2px
			box-shadow 0px 0px 5px gray
			cursor pointer
			display flex
			list-style none
			margin 0.5em 0
			padding 0 1em
			&--logo 
				font-size 4em
				margin 0
			&--nombre 
				color verde_A
				margin 0 0 0 1em
				&--oculto
					background-color rgba(black,.3)
					border-radius 4px
					bottom 0
					color white
					display none
					left 0
					padding .5em
					right 0
					top 0

.clientes
	&__list
		display flex 
		flex-wrap wrap
		justify-content center
		margin 0 
		padding 0
		&__items
			list-style none
			margin 0.5em
			&__link
				font-size 80px
				
			
		
.esquemas__menu--items[data-esquema="senasica"]:hover
	.senasica
		display block	
.esquemas__menu--items[data-esquema="usda"]:hover
	.usda
		display block
.esquemas__menu--items[data-esquema="global"]:hover
	.global
		display block
.esquemas__menu--items[data-esquema="haccp"]:hover
	.haccp
		display block
.esquemas__menu--items[data-esquema="primus"]:hover
	.primus
		display block					
.esquemas__menu--items[data-esquema="ctpat"]:hover
	.ctpat
		display block
.esquemas__menu--items[data-esquema="bpa"]:hover
	.bpa
		display block
.esquemas__menu--items[data-esquema="buma"]:hover
	.buma
		display block	
.esquemas__menu--items[data-esquema="bpm"]:hover
	.bpm
		display block	
.esquemas__menu--items[data-esquema="stps"]:hover
	.stps
		display block
.esquemas__menu--items[data-esquema="scs"]:hover
	.scs
		display block
.esquemas__menu--items[data-esquema="lgpgir"]:hover
	.lgpgir
		display block

.aside
	padding .5em
	&__presentacion
		text-align center
		&__link
			background-color rojo_A
			border-bottom 2px solid rojo_B
			border-radius 2px
			box-shadow 0px 0px 5px gray
			color white
			padding 1em

.fter
	margin 1em 2em
	border-top 1px solid gris_B
	&__head 
		&__h2 
			color verde_A
			font-weight normal
			margin 0
			padding .5em
			text-align center
	&__interes
		&__ul 
			font-size 2.5em
			list-style none
			margin 0
			padding 0
			text-align center
			&__li 
				margin 0.5em
				&__a 
					color gray
	&__sociales 
		&__p 
			color gris_B
			font-size 1.5rem
			text-align right
			&--tw 
				color azul_tw
				font-size 1.2em
			&--fb 
				color azul_fb
				font-size 1.2em

.icon-global 
	color green
.icon-BUMA
	color rojo_B				
.bder
	border 1px solid black
.relative 
	position relative
.absolute 
	position absolute


//lanscape, tabletas portrait
@media screen and (min-width : 481px)
	.top 
		width 30%
	.nav 
		width 50%
	.main 
		&__article
			margin 3em 7em
	.fter
		&__interes
			&__ul 
				display flex
				flex-wrap wrap
				justify-content center
			
			
//tabletas lanscape, laptops
@media screen and (min-width : 769px)
	html 
		font-size 100%
		.esquemas
			&__menu
				display flex
				flex-wrap wrap
				justify-content space-around
				&--items
					width 15em
		.clientes__list__items__link
			font-size 128px
			
			




