@import "iconlink/cies/styles"
@import "iconlink/fao/styles"
@import "iconlink/fda/styles"
@import "iconlink/fsgov/styles"
@import "iconlink/fsm/styles"
@import "iconlink/fsn/styles"
@import "iconlink/gmi/styles"
@import "iconlink/infoagro/styles"
@import "iconlink/ncbi/styles"
@import "iconlink/usda/styles"
@import "iconlink/who/styles"

.Interes 
	list-style none
	margin 0
	padding 0
	text-align center
	&-item 
		margin 0.5em 
