ul.Interes
	li.Interes-item
		a.Item(href="http://www.globalmicrobialidentifier.org/", target="_blank")
			include ./iconlink/gmi/template.jade
	li.Interes-item
		a.Item(href="http://www.infoagro.com/", target="_blank")
			include ./iconlink/infoagro/template.jade
	li.Interes-item
		a.Item(href="http://www.ncbi.nlm.nih.gov/pubmed", target="_blank")
			include ./iconlink/ncbi/template.jade
	li.Interes-item
		a.Item(href="http://www.foodsafetynews.com/", target="_blank")
			include ./iconlink/fsn/template.jade
	li.Interes-item
		a.Item(href="http://www.foodsafetymagazine.com/", target="_blank")
			include ./iconlink/fsm/template.jade
	li.Interes-item
		a.Item(href="http://www.fda.gov/Food/default.htm", target="_blank")
			include ./iconlink/fda/template.jade
	li.Interes-item
		a.Item(href="http://www.usda.gov/wps/portal/usda/usdahome", target="_blank")
			include ./iconlink/usda/template.jade
	li.Interes-item
		a.Item(href="http://www.foodsafety.gov/", target="_blank")
			include ./iconlink/fsgov/template.jade
	li.Interes-item
		a.Item(href="http://www.who.int/foodsafety/en/", target="_blank")
			include ./iconlink/who/template.jade
	li.Interes-item
		a.Item(href="http://www.hgculiacan.com/cies/cies%20descripcion.htm", target="_blank")
			include ./iconlink/cies/template.jade
	li.Interes-item
		a.Item(href="http://www.fao.org/home/en/", target="_blank")
			include ./iconlink/fao/template.jade
	