<main class="main">
	<!-- WHO WE ARE : WHO WE ARE -->
	<article class="main__article">
		<header class="main__article__header">
			<h2 class="main__article__header--h2">How we are</h2>
		</header>
		<p class="main__article__p">
			We are a professional services company specialized in food safety and quality, agricultural plastics and hazardous waste management, and application of social and labor responsibility standards.  
		</p>
	</article> 
	<!-- WHO WE ARE : EXPERTISE -->
	<article class="main__article">
		<header class="main__article__header">
			<h2 class="main__article__header--h2">Expertise</h2>
		</header>
		<p class="main__article__p">
			<ul class="main__article__p__list">
				<li class="main__article__p__list--items">Tracking studies and contaminant monitoring and surveillance</li>
				<li class="main__article__p__list--items">Technical assistance for food safety and organic production certification.</li>
				<li class="main__article__p__list--items">Development of hazardous waste and substance management plans.</li>
				<li class="main__article__p__list--items">Development and design of laboratory workspaces.</li>
			</ul>
		</p>
	</article> 
	<!-- WHO WE ARE : OUR COMMITMENT -->
	<article class="main__article">
		<header class="main__article__header">
			<h2 class="main__article__header--h2">Our commitment</h2>
		</header>
		<p class="main__article__p">
			Is to design, implement, verify, and assess certification frameworks for food safety and quality to accomplish process systematization and contaminant risk reduction to protect consumer health
		</p>
	</article> 
	<!-- NOSOTROS : PRESENTACION -->
	<aside class="aside">
		<p class="aside__presentacion">
			<a href="../pdf/Presentacion_TECSIA.pdf" target="_blank" class="aside__presentacion__link"><span class="icon-pdf"></span> Download PDF</a>
		</p>
	</aside> 
</main>