.Contacto
	p.Contacto-title ¡Escribenos!
	p.Contacto-info + 52 667 455 2959
	p.Contacto-info info@tecsia.mx
	p.Contacto-info contacto@tecsia.mx
.Contacto 
	p.Contacto-title ¡Visitanos!
	p.Contacto-info Tecnologia y Servicios en Inocuidad Alimentaria Dr. Emigdio Flores Sarmiento Nº 770 Col. Chapultepec 80040 Culiacán, Sinaloa