main.Main 
	
	article.Article  
		header.Article-titulo 
			h2.Article-titulo_h2 ¿Quiénes somos?
		p.Article-desc Somos una empresa de servicios profesionales especializada en inocuidad y calidad alimentaria; manejo de agroplásticos y residuos peligrosos; y aplicación de normas de responsabilidad social y laboral.
	
	article.Article  
		header.Article-titulo  
			h2.Article-titulo_h2 Expertise
		ul.Article-list 
			li.Article-list_item Estudio de rastreo, monitoreo y vigilancia de contaminantes.
			li.Article-list_item Asistencia técnica para la certificación en esquemas de inocuidad alimentaria y producción orgánica.
			li.Article-list_item Elaboración de planes de manejo de residuos y sustancias peligrosas.
			li.Article-list_item Elaboración y diseño de proyectos de laboratorios.
	
	article.Article  
		header.Article-titulo  
			h2.Article-titulo_h2 Nuestro compromiso
		p.Article-desc Es diseñar, implementar, verificar y evaluar esquemas de certificación de inocuidad y calidad alimentaria para lograr la minimización de riesgos de contaminación en garantía de la salud del consumidor.
	
	aside.Presentacion  
		p.Presentacion-p
			a.Presentacion-p_link(href="./public/pdf/presentacion_tecsia_es.pdf", target="_blank") 
				span.icon-pdf Descarga nuestra presentación



