main.Main
	article.Article 
		header.Article-titulo 
			h2.Article-titulo_h2 Servicios
		p.Article-desc Nuestro catálogo de servicios es amplio e integral, abarcando desde la etapa de diagnóstico y planteamiento de programas personalizados, hasta la etapa de monitoreo y vigilancia de las medidas implementadas.
	article.Article 
		header.Article-titulo 
			h2.Article-titulo_h2 Elaboración de Diagnóstico
		p.Article-desc Consiste en conocer el estatus y el nivel de implementación de los sistemas de certificación, para elaborar un plan de trabajo que permita desarrollar estrategias eficaces de acuerdo con los requisitos de los principales esquemas de certificación:
		div.Article-Esquemas
			include ./esquemas/template.jade
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Asistencia Técnica
		p.Article-desc Asesoramos a nuestros clientes en la implementación y cumplimiento de las normas de inocuidad, calidad, responsabilidad social y ambiental; además de asistir técnicamente a los laboratorios de inocuidad alimentaria.
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Capacitación
		p.Article-desc Desarrollamos programas de capacitación estratégicos para el personal de la empresa, para lograr que sea autosuficiente en la implementación de procesos de inocuidad alimentaria.
		div.Article-capacitacion
			include ./capacitacion/template.jade
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Evaluaciones internas
		p.Article-desc Realizamos evaluaciones internas a través de las cuales detectamos oportunidades de mejora y aplicamos acciones correctivas inmediatas.
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Monitoreo y Vigilancia
		p.Article-desc Diseñamos programas de vigilancia de contaminantes biológicos, químicos y físicos. Nuestras estrategias de monitoreo van dirigidas a identificar puntos críticos, rastrear contaminación y contingencias.
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Programa de manejo de Residuos
		p.Article-desc Elaboramos un plan de manejo de agroplásticos y residuos peligrosos que contenga los lineamientos a seguir para el correcto almacenamiento, transporte y destino final.
	article.Article
		header.Article-titulo
			h2.Article-titulo_h2 Diseño de proyectos de construcción de laboratorios
		p.Article-desc Diseñamos proyectos para la construcción de laboratorios siguiendo los estándares más altos de calidad en materiales y equipamiento “llave en mano”.