main.Main
	article.Article  
		header.Article-titulo 
			h2.Article-titulo_h2 Clientes y proyectos
		p.Article-desc Empresas interesadas en diseñar e implementar un sistema de inocuidad con la visión de la sistematización de procesos de producción de alimentos seguros para el consumidor, aló largo de la cadena alimentaria.
		.Article-clientes
			ul.Clientes 
				li.Clientes-items
					a.Clientes-items_links(href="http://www.tripleh.com.mx/", target="_blank")
						include ./logos/3h/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="", target="_blank")
						include ./logos/smart/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="http://www.agromod.com.mx/", target="_blank")
						include ./logos/agromod/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="http://www.agroex.mx/", target="_blank")
						include ./logos/agroexp/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="http://elevenrivers.org/", target="_blank")
						include ./logos/11r/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="www.agricoladaniella.com.mx/", target="_blank")
						include ./logos/daniella/template.jade
				li.Clientes-items
					a.Clientes-items_links(href="www.agricolapapapo.com.mx/", target="_blank")
						include ./logos/papapo/template.jade