li.Esquemas-items(ng-click="mostrar('senasica')")
	header.Esquemas-items_encabezado(data-esquema="senasica")
		p.Esquemas-items_encabezado-logo
			include logos/senasica/template.jade
		h4.Esquemas-items_encabezado-tit SENASICA
	article.Esquemas-items_article#senasica(ng-show="senasica") Servicio Nacional de Sanidad, Inocuidad y Calidad Agroalimentaria; consiste en una certificación oficial Mexicana homologada a los criterios técnicos FDA-SENASICA; además de ser un medio con el que se establece un contacto de inspección gubernamental.
li.Esquemas-items(ng-click="mostrar('usda')")
	header.Esquemas-items_encabezado(data-esquema="usda")
		p.Esquemas-items_encabezado-logo
			include logos/usda/template.jade
		h4.Esquemas-items_encabezado-tit NOP USADA, UE 834/2007 MAFF_JAS
	article.Esquemas-items_article#usda(ng-show="usda") Implementación de normas de producción orgánica en actividades agrícolas, pecuaria e industrial, para los principales países de importancia económica en la actualidad.
li.Esquemas-items(ng-click="mostrar('global')")
	header.Esquemas-items_encabezado(data-esquema="global")
		p.Esquemas-items_encabezado-logo
			include logos/global/template.jade
		h4.Esquemas-items_encabezado-tit GLOBAL GAP
	article.Esquemas-items_article#global(ng-show="global") Esquema surgido en el mercado europeo que consiste en tomar conciencia de las preocupaciones de los consumidores en crecimiento con respecto a la seguridad del producto, el impacto ambiental, la salud, la seguridad y el bienestar de los trabajadores.
li.Esquemas-items(ng-click="mostrar('haccp')")
	header.Esquemas-items_encabezado(data-esquema="haccp")
		p.Esquemas-items_encabezado-logo
			include logos/haccp/template.jade
		h4.Esquemas-items_encabezado-tit HACCP
	article.Esquemas-items_article#haccp(ng-show="haccp") Análisis de Peligros y Puntos Críticos de Control; proceso de recopilación y evaluación de información sobre peligros y las condiciones que los originan para decidir cuáles son importantes con la inocuidad de los alimentos y, por lo tanto, planteados en el plan del sistema HACCP.
li.Esquemas-items(ng-click="mostrar('primus')")
	header.Esquemas-items_encabezado(data-esquema="primus")
		p.Esquemas-items_encabezado-logo
			include logos/primus/template.jade
		h4.Esquemas-items_encabezado-tit PRIMUS GFS
	article.Esquemas-items_article#primus(ng-show="primus") Esquema de auditoría reconocido por la Global Food Safety Initiative (GFSI) que cubre GAP y GMP así como los sistemas de administración de Inocuidad de alimentos (FSMS).
li.Esquemas-items(ng-click="mostrar('ctpat')")
	header.Esquemas-items_encabezado(data-esquema="ctpat")
		p.Esquemas-items_encabezado-logo
			include logos/ctpat/template.jade
		h4.Esquemas-items_encabezado-tit C-TPAT
	article.Esquemas-items_article#ctpat(ng-show="ctpat") Customs Trade Partnership Against Terrorism es una iniciativa anti-terrorista de la aduana de los Estados Unidos de Norteamérica que conmina a la industria a tomar medidas conjuntas a fin de evitar que la carga comercial sea contaminada con sustancias ilegales o no manifestadas, tales como armas, droga o explosivos.
li.Esquemas-items(ng-click="mostrar('bpa')")
	header.Esquemas-items_encabezado(data-esquema="bpa")
		p.Esquemas-items_encabezado-logo
			include logos/bpa/template.jade
		h4.Esquemas-items_encabezado-tit Buenas prácticas agrícolas
	article.Esquemas-items_article#bpa(ng-show="bpa") Prácticas orientadas a la sostenibilidad ambiental, económica y social para los procesos productivos de la explotación agrícola que garantizan la calidad e inocuidad de los alimentos y de los productos no alimenticios.
li.Esquemas-items(ng-click="mostrar('buma')")
	header.Esquemas-items_encabezado(data-esquema="buma")
		p.Esquemas-items_encabezado-logo
			include logos/buma/template.jade
		h4.Esquemas-items_encabezado-tit Buen uso y manejo de agroquímicos
	article.Esquemas-items_article#buma(ng-show="buma") Prevenir y minimizar el daño a la salud de los trabajadores y consumidores, así como el impacto ambiental por contaminación con agroquímicos, a través de la concientización, desarrollo de habilidades y capacidades que les permitan hacer uso adecuado y racional de los productos.
li.Esquemas-items(ng-click="mostrar('bpm')")
	header.Esquemas-items_encabezado(data-esquema="bpm")
		p.Esquemas-items_encabezado-logo
			include logos/bpm/template.jade
		h4.Esquemas-items_encabezado-tit Buenas prácticas de manufactura
	article.Esquemas-items_article#bpm(ng-show="bpm") Conjunto de procedimientos, condiciones y controles que se aplican en el proceso realizado en las instalaciones de manejo y empacado de frutas y hortalizas, con el objetivo de disminuir los riesgos de contaminación del producto empacado.
li.Esquemas-items(ng-click="mostrar('stps')")
	header.Esquemas-items_encabezado(data-esquema="stps")
		p.Esquemas-items_encabezado-logo
			include logos/stps/template.jade
		h4.Esquemas-items_encabezado-tit Secretaría de trabajo y Previsión Social
	article.Esquemas-items_article#stps(ng-show="stps") Aplicación de las diversas normas que comprenden la Ley Federal del Trabajo, entre ellas: condiciones de seguridad, uso de insumos fitosanitarios, sistemas de protección y dispositivos de seguridad, entre otras.
li.Esquemas-items(ng-click="mostrar('scs')")
	header.Esquemas-items_encabezado(data-esquema="scs")
		p.Esquemas-items_encabezado-logo
			include logos/scs/template.jade
		h4.Esquemas-items_encabezado-tit SCS
	article.Esquemas-items_article#scs(ng-show="scs") Es líder de confianza en los servicios de certificación de tercera parte, la auditoría y las pruebas, con tres décadas de experiencia en el apoyo a su sostenibilidad ambiental y las metas de calidad de los alimentos.
li.Esquemas-items(ng-click="mostrar('lgpgir')")
	header.Esquemas-items_encabezado(data-esquema="lgpgir")
		p.Esquemas-items_encabezado-logo
			include logos/lgpgir/template.jade
		h4.Esquemas-items_encabezado-tit LGPGIR
	article.Esquemas-items_article#lgpgir(ng-show="lgpgir") Ley General para la Prevención y Gestión Integral de los Residuos.