li.Esquemas-items(ng-click="mostrar('senasica')")
	header.Esquemas-items_encabezado(data-esquema="senasica")
		p.Esquemas-items_encabezado-logo
			include logos/senasica/template.jade
		h4.Esquemas-items_encabezado-tit SENASICA
	article.Esquemas-items_article#senasica(ng-show="senasica") The National Service of Agro Alimentary Healt, Safety and Quality (SENASICA, for its acronym in Spanish) which has technical criteria equivalent to those of FDA, and allows for a government inspection contact.
li.Esquemas-items(ng-click="mostrar('usda')")
	header.Esquemas-items_encabezado(data-esquema="usda")
		p.Esquemas-items_encabezado-logo
			include logos/usda/template.jade
		h4.Esquemas-items_encabezado-tit NOP USADA, UE 834/2007 MAFF_JAS
	article.Esquemas-items_article#usda(ng-show="usda") Organic production standards applied to agricultural, livestock, and industrial activities in the United States, the European Union, and Japan.
li.Esquemas-items(ng-click="mostrar('global')")
	header.Esquemas-items_encabezado(data-esquema="global")
		p.Esquemas-items_encabezado-logo
			include logos/global/template.jade
		h4.Esquemas-items_encabezado-tit GLOBAL GAP
	article.Esquemas-items_article#global(ng-show="global") European market framework to address consumer concerns regarding product safety, environmental impact, health, safety, and well-being of employees.
li.Esquemas-items(ng-click="mostrar('haccp')")
	header.Esquemas-items_encabezado(data-esquema="haccp")
		p.Esquemas-items_encabezado-logo
			include logos/haccp/template.jade
		h4.Esquemas-items_encabezado-tit HACCP
	article.Esquemas-items_article#haccp(ng-show="haccp") The Hazard Analysis and Critical Control Points is a management system in which food safety is addressed through the analysis and control of biological, chemical, and physical hazards from raw material production, procurement and handling, to manufacturing, distribution and consumption of the finished product
li.Esquemas-items(ng-click="mostrar('primus')")
	header.Esquemas-items_encabezado(data-esquema="primus")
		p.Esquemas-items_encabezado-logo
			include logos/primus/template.jade
		h4.Esquemas-items_encabezado-tit PRIMUS GFS
	article.Esquemas-items_article#primus(ng-show="primus") Pirmus GFS is a Global Food safety Initiative (GFSI) benchmarked and fully recognized audit scheme covering both GAP and GMP scopes as well as food safety management systems (FSMS).
li.Esquemas-items(ng-click="mostrar('ctpat')")
	header.Esquemas-items_encabezado(data-esquema="ctpat")
		p.Esquemas-items_encabezado-logo
			include logos/ctpat/template.jade
		h4.Esquemas-items_encabezado-tit C-TPAT
	article.Esquemas-items_article#ctpat(ng-show="ctpat") The Customs Trade Partnership Against Terrorism is an anti-terrorism initiative of the United States Customs and Border Protection, which requires the industry to take joint measures to ensure commercial cargo is not contaminated with illegal or undeclared substances such as weapons, drugs or explosives.
li.Esquemas-items(ng-click="mostrar('bpa')")
	header.Esquemas-items_encabezado(data-esquema="bpa")
		p.Esquemas-items_encabezado-logo
			include logos/bpa/template.jade
		h4.Esquemas-items_encabezado-tit Good Agricultural Practices
	article.Esquemas-items_article#bpa(ng-show="bpa") Set of principles that apply to both production processes as postharvest processes, which are primarily intended to obtain healthy products as well as the social, environmental and economic development.
li.Esquemas-items(ng-click="mostrar('buma')")
	header.Esquemas-items_encabezado(data-esquema="buma")
		p.Esquemas-items_encabezado-logo
			include logos/buma/template.jade
		h4.Esquemas-items_encabezado-tit Good Use and Handling of Agrichemicals
	article.Esquemas-items_article#buma(ng-show="buma") Prevents and minimizes health hazards of workers and consumers and environmental impact of contamination by agrichemicals, through enhanced awareness, skills and capacities development that allow for the appropriate and rational use of such products.
li.Esquemas-items(ng-click="mostrar('bpm')")
	header.Esquemas-items_encabezado(data-esquema="bpm")
		p.Esquemas-items_encabezado-logo
			include logos/bpm/template.jade
		h4.Esquemas-items_encabezado-tit Good Manufacturing Practices
	article.Esquemas-items_article#bpm(ng-show="bpm") Procedures, conditions, and controls that are applied to processes carried out in the handling and packing facilities of fruits and vegetables, with the purpose of reducing contamination risks in the packaged product.
li.Esquemas-items(ng-click="mostrar('stps')")
	header.Esquemas-items_encabezado(data-esquema="stps")
		p.Esquemas-items_encabezado-logo
			include logos/stps/template.jade
		h4.Esquemas-items_encabezado-tit Secretariat of Labor and Welfare
	article.Esquemas-items_article#stps(ng-show="stps") Standards of the Mexican Federal Labor Law, which include use of phytosanitary supplies, protection systems, and safety devices.
li.Esquemas-items(ng-click="mostrar('scs')")
	header.Esquemas-items_encabezado(data-esquema="scs")
		p.Esquemas-items_encabezado-logo
			include logos/scs/template.jade
		h4.Esquemas-items_encabezado-tit SCS
	article.Esquemas-items_article#scs(ng-show="scs") SCS is the trusted leader in third party certification services, audits, and tests. They have three decades of experience supporting environmental sustainability and food quality goals.
li.Esquemas-items(ng-click="mostrar('lgpgir')")
	header.Esquemas-items_encabezado(data-esquema="lgpgir")
		p.Esquemas-items_encabezado-logo
			include logos/lgpgir/template.jade
		h4.Esquemas-items_encabezado-tit LGPGIR
	article.Esquemas-items_article#lgpgir(ng-show="lgpgir") General Law for Waste Prevention and Integrated Management (LGPGIR, for its acronym in Spanish)