main.Main
	article.Article 
		header.Article-titulo 
			h1.Article-titulo_h2 Servicios
		p.Article-desc Nuestro catálogo de servicios es amplio e integral, abarcando desde la etapa de diagnóstico y planteamiento de programas personalizados, hasta la etapa de monitoreo y vigilancia de las medidas implementadas.
	article.Article 
		header.Article-titulo 
			h1.Article-titulo_h2 Elaboración de Diagnóstico
		p.Article-desc Consiste en conocer el estatus y el nivel de implementación de los sistemas de certificación, para elaborar un plan de trabajo que permita desarrollar estrategias eficaces de acuerdo con los requisitos de los principales esquemas de certificación:
		div.Article-Esquemas
			include ./esquemas/template.jade