.Capacitacion
	margin 0
	padding 0 
	&-items
		border-radius 2px
		box-shadow 0px 0px 5px gray
		cursor pointer
		list-style none
		margin 0.5em 0
		padding 0 1em
		&:hover 
			box-shadow 1px 1px 5px gris_B
		&_encabezado
			align-items center
			display flex
			&-logo 
				font-size 4em
				margin 0
			&-tit
				color verde_A
				margin 0
				padding 1em