li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/seht/template.jade
		h4.Capacitacion-items_encabezado-tit Salud e higiene del trabajador
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/ums/template.jade
		h4.Capacitacion-items_encabezado-tit Uso y manejo de sanitizante
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/bpa/template.jade
		h4.Capacitacion-items_encabezado-tit Buenas prácticas agrícolas
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/lseh/template.jade
		h4.Capacitacion-items_encabezado-tit Limpieza y sanitización de equipo y herramientas
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/bpm/template.jade
		h4.Capacitacion-items_encabezado-tit Buenas prácticas de manejo
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/bpm/template.jade
		h4.Capacitacion-items_encabezado-tit Manejo de fauna
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/buma/template.jade
		h4.Capacitacion-items_encabezado-tit Buen uso y manejo de agroquímicos
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/ce/template.jade
		h4.Capacitacion-items_encabezado-tit Calibración de equipo
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/pa/template.jade
		h4.Capacitacion-items_encabezado-tit Primeros auxilios
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/pa/template.jade
		h4.Capacitacion-items_encabezado-tit Normativas de la STPS
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/haccp/template.jade
		h4.Capacitacion-items_encabezado-tit HACCP
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/nia/template.jade
		h4.Capacitacion-items_encabezado-tit Normatividad de impacto ambiental
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/trazabilidad/template.jade
		h4.Capacitacion-items_encabezado-tit Trazabilidad
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/nom251/template.jade
		h4.Capacitacion-items_encabezado-tit Implementación de NOM-251-SSA1-2009
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/muestreo/template.jade
		h4.Capacitacion-items_encabezado-tit Muestreo
li.Capacitacion-items
	header.Capacitacion-items_encabezado
		p.Capacitacion-items_encabezado-logo
			include logos/ite/template.jade
		h4.Capacitacion-items_encabezado-tit Implementación de técnicas estandarizadas